---
title: Special Pythagorean Triplet
question_num: 9
---

<p>
  A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,
  <br><br>
  a2 + b2 = c2
  <br>
  For example, 32 + 42 = 9 + 16 = 25 = 52.
  <br><br>
  There exists exactly one Pythagorean triplet for which a + b + c = 1000.
  Find the product abc.
</p>

<script type="text/javascript">
  console.log("No Solution. Keep looking through though, I do have more solutions to other questions.")
</script>
