---
title: Special Pythagorean Triplet
question_num: 9
---

<p>

</p>

<script type="text/javascript">
  console.log("No Solution. Keep looking through though, I do have more solutions to other questions.")
</script>
